.backgroundColorGreen {
    background-color: greenyellow;
    padding: 2px 2px;
}

.backgroundColorCyan {
    background-color: cyan;
    padding: 2px 2px;
}

.backgroundColorRed {
    background-color: red;
    padding: 2px 2px;
}

.backgroundColorOrange {
    background-color: orange;
    padding: 2px 2px;
}

.backgroundColorPurple {
    background-color: orchid;
    padding: 2px 2px;
}

.backgroundColorBlack {
    background-color: black;
    padding: 2px 2px;
    color: white;
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}

.strikethrough {
    text-decoration: line-through;
    font-size: 24px;
}

.underline {
    text-decoration: underline;
}
.paddingSmall {
    padding-left: 20px;
}

.paddingMedium {
    padding-left: 40px;
}

.paddingBig {
    padding-left: 60px;
}

.fontSize12 {
    font-size: 12px;
}
.fontSize16 {
    font-size: 16px;
}
.fontSize18 {
    font-size: 18px;
}
.fontSize20 {
    font-size: 20px;
}
.fontSize22 {
    font-size: 22px;
}
.fontSize26 {
    font-size: 26px;
}
.fontSize30 {
    font-size: 30px;
}
.fontSize36 {
    font-size: 36px;
}
.fontSize44 {
    font-size: 44px;
}
.fontSize52 {
    font-size: 52px;
}
.textAlignmentUpDown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textAlignmentAddPadding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
