label {
    color: white;
}

textarea {
    width: 300px;
    height: 150px;
}

#post_back-button {
    width: 36px;
    height: 36px;
}

#post_back-button-container {
    border-bottom: 1px solid #888;
}

#post_headline {
    text-align: center;
    border-bottom: 1px solid #888;
}

#post_profile-pic {
    text-align: right;
}

.audience-size-container {
    text-align: left;
}

.post_middle {
    flex: 2;
}

.post_spacer {
    flex: 1;
}
