$full-sidebar: 1280px;
$thin-rightbar: 1100px;
$rightbar-shows: 1000px; // TODO: Test what the UI looks like when the rightbar stays until, say, as thin as 800px.
$shrink-feed: 700px; // the rightbar is gone now, and the twitter feed starts to shrink here

$mobile-sized: 500px;
