$dark-blue: rgb(7, 6, 53); // hex #070635
$sea-blue: rgb(0, 187, 255); // hex #00bbff
$soft-blue: #96d9ff; // rgb 150, 217, 255
$white: white;
$light-grey: #8899a6; // rgb 136, 153, 166
$twtr-dark-grey: rgb(37, 51, 65);
$uxui-dg: rgb(23, 32, 42);
$uxui-lg: rgb(28, 39, 51);
$uxui-blue: rgb(47, 132, 207);
