.pct0 {
    width: 0%;
}

.pct10 {
    width: 10%;
}

.pct20 {
    width: 20%;
}

.pct30 {
    width: 30%;
}

.pct40 {
    width: 40%;
}

.pct50 {
    width: 50%;
}

.pct60 {
    width: 60%;
}

.pct70 {
    width: 70%;
}

.pct80 {
    width: 80%;
}

.pct90 {
    width: 90%;
}

.pct100 {
    width: 100%;
}
