@import "../../styles/colors";

.m-engagement-txt {
    font-size: 13px;
}

.massive-btn {
    background-color: white;
    width: 15%;
    height: auto;
}

.statistic {
    // width: 80px;
    padding: 3px 0px 3px 0px;
    /* border: 2px solid red; */
    border-radius: 4px;
}

.statistic:hover {
    background-color: lighten($uxui-lg, 15%);
}

@media (max-width: 440px) {
    .statistic {
        width: 70px;
    }
}
