@import "../../styles/colors";

#log-in-button-container button {
    width: 120px;
    background-color: $uxui-blue !important;
}

#log-in-screen_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#log-in_input-container form * {
    margin: 6px 0;
}

#log-in_input-container div input {
    padding-left: 16px;
    border-radius: 20px;
    background-color: $search-bar-grey;
    border: none;
    height: 46px;
    // width: 90%;
    width: 100%;
    color: #aaa;
    font-size: 14px;
}
