.container {
    width: calc(100% - 56px - 110px);
    margin-top: -8px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.followRec {
    height: 70px;
    border: 1px solid #888;
}

.heightAdjustment {
    margin-top: 0px !important;
}

.text {
    margin: 0;
    text-align: left;
    font-size: 16px;
    line-height: 1.2;
    /* text-overflow: ellipsis; */
    /* from stackOverflow */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    min-width: 0;
}
