@import "../../styles/breakpoints";
@import "../../styles/colors";

.sidebar_btn-container {
    max-width: 180px;
    border-radius: 20px;
}

.sidebar_btn-container:hover {
    background-color: lighten($dark-blue, 15%);
}

.sidebar_btn-icon {
    width: 35px;
    height: auto;
}

.sidebar_btn-icon-parent {
    width: 55px;
    height: 45px;
}

.sidebar_btn-text {
    display: none;
    font-size: 18px;
}

.sidebar_btn-text-parent {
    width: 110px;
    height: auto;
    text-align: left;
}

@media (min-width: $full-sidebar) {
    .sidebar_btn-text {
        display: inline;
    }
}
