.profile-pic {
    background-color: darkblue;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.massive-btn-container img {
    height: 24px;
    width: 24px;
}

.width-control {
    /* max-width: 80%; */
    width: 80%;
}

@media screen and (max-width: 335px) {
    .mr-5 {
        margin-right: 5px;
    }

    .profile-pic {
        margin-right: 10px;
    }
}
