#singularMsvBackBtn {
    margin: 0;
}

.singularMassiveBtn {
    height: 36px;
    width: 36px;
    background-color: white; 
    border-radius: 50%; 
    padding: 5px 10px 5px 5px;
}

.singularMassiveBtnContainer {
    margin: 10px
}