@import "styles/_colors";
@import "styles/_breakpoints";

// ** ** ** ** ** ** **
// for making the waterfall scroll properly

// https://stackoverflow.com/questions/64310947/how-to-keep-the-left-and-right-flex-elements-sidebars-fixed-while-the-middle-e
// https://codepen.io/rolandmackintosh/pen/ZEOGorB
// ^^^ KEEP THESE LINKS HERE ^^^

// aside {
//     position: sticky !important;
//     flex: 1 !important;
//     top: 0 !important;
//     height: 100vh !important;
// }

// main {
//     display: flex !important;
//     justify-content: space-between !important;
//     position: relative !important;
// }

// ** ** ** **
// ** ** ** **

body {
    background-color: #eee;
    font-family: sans-serif;
    font-size: 20px;
}

button {
    // margin-top: 20px;
    padding: 10px;
    color: $uxui-blue;
    height: 40px;
    font-size: 16px;
    border-radius: 20px !important;
    border: 1px solid $uxui-blue;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    color: $white;
}

p {
    font-size: 16px;
}

.internal-input {
    background-color: $search-bar-grey;
    color: white;
    border: none !important;
    border-radius: 20px !important;
    background-image: url("./images/unnamed.png");
    background-size: 18px 18px !important;
    background-repeat: no-repeat !important;
    background-position: 4% 50% !important;
    padding-left: 44px !important;
}

#landing input {
    background-image: none !important;
}

::placeholder {
    color: #888;
}

/* mobile bar stuff */

.mobile-width-control {
    max-width: 500px;
}

.show-when-thin {
    display: block;
}

@media (min-width: $mobile-sized) {
    .show-when-thin {
        display: none;
    }
}

/* site wide text styling */

.bold-big {
    font-size: 18px;
    font-weight: 900;
    color: $white;
}

%bold-font {
    font-size: 15px;
    font-weight: 700;
}

.bold-grey {
    /* as in "Following" or "Followers" on https://twitter.com/rolypolyistaken/following */
    @extend %bold-font;
    color: $light-grey;
}

.bold-white {
    @extend %bold-font;
    color: $white;
}

%standard-font {
    font-size: 15px;
    font-weight: 400;
}

.standard-blue {
    @extend %standard-font;
    color: $uxui-blue;
}

.standard-grey {
    @extend %standard-font;
    color: $light-grey;
}

.standard-white {
    @extend %standard-font;
    color: $white;
}

.tiny-grey {
    font-size: 13px;
    font-weight: 400;
    color: $light-grey;
}

// site wide styling for inputs

.dark-mode-input {
    border: 0px;
    border-radius: 18px;
    color: white !important;
    background-color: $search-bar-grey;
    // todo: change this to match figma
}
