@import "../../styles/colors";

#landing {
    width: 100%;
}

.landing_bg-svg-div {
    background-image: url("../../images/middleLayer.svg.svg");
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    border: 2px solid red;
    z-index: 2;
}

#landing_buttons button {
    margin-bottom: 15px;
    display: block;
    width: 100%;
}

#landing_desktop-header {
    display: none;
}

#landing_left-and-banner {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $uxui-dg;
    background-image: url("../../images/Illustration WEB - homme.svg");
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center;
    z-index: 100;
    opacity: 0;
}

/* #landing_left-and-banner div div {
    display: flex;
    align-items: center;
} */

#landing_left-and-banner div h4 {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 11px;
    padding-right: 11px;
}

#landing_left-and-banner div img {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 0;
}

#landing_logo {
    width: fit-content;
    text-align: left;
    position: relative;
}

#landing_logo-img {
    position: relative;
    left: -5px;
    width: 100px !important;
    height: 100px !important;
}

#landing_right-and-header {
    width: 100%;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
}

#landing_main {
    height: 87vh;
    flex-direction: column;
    background-color: $uxui-dg;
}

#landing_repeat-buttons {
    height: fit-content;
}

#landing_repeat-buttons-inline {
    margin-top: 40px;
    width: 100%;
    height: 50px;
}

#landing_repeat-buttons-inline button {
    margin: 20px;
    padding: 10px;
    width: 25%;
}

.landing_svg-positioning {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85vh;
}

/* footer stuff */
#landing_footer {
    padding-left: 15px;
    padding-right: 15px;
    /* border: 3px solid springgreen; */
    background-color: $uxui-dg;
}

#landing_footer div {
    font-size: 14px;
    margin-top: 3px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 3px;
}
/* end footer stuff */

.black-button button span {
    color: black;
}

.black-text {
    color: black;
}

.darkmode-text {
    color: white;
}

.force-sea-blue {
    background-color: $sea-blue !important;
}

.header-text-large {
    font-size: 48px;
    font-weight: 600;
}

.header-subtitle-text {
    font-size: 24px;
    font-weight: 400;
}

.landing_button {
    font-weight: bold;
}

.landing_error {
    margin: 10px 30px;
}

.landing_sign-up {
    background-color: $sea-blue;
    color: #fff;
}

.landing_width-adjustment {
    width: auto;
}

.parent-container {
    width: 50%;
    text-align: left;
}

.tagline {
    width: fit-content;
}

.uxui-grey-text {
    color: #999;
}

.uxui-landing-btn-width-mod {
    width: 180px;
}

.uxui-landing-btn-width-mod * {
    color: white !important;
}

@media screen and (max-height: 800px) and (max-width: 800px) {
    .tagline h4 {
        margin-top: 12px !important;
        margin-bottom: 12px !important;
        /* TODO: use your desktop monitor to check, 
        "do the lower set of buttons appear ok? thin the screen to < 800 px and check" */
    }
}

@media screen and (min-width: 800px) {
    #landing_left-and-banner {
        width: 50vw;
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;

        background-repeat: no-repeat;
    }

    #landing_right-and-header {
        float: right;
        width: 50%;
        height: 80vh;
    }

    #landing_main {
        height: fit-content;
        flex-direction: row-reverse;
    }

    #landing_repeat-buttons {
        /* a sign up and log in button that only display when the page is thinner than 800px */
        display: none;
    }

    /* footer */
    #landing_footer {
        width: auto;
        height: 14vh;
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }
    /* footer */

    .landing_width-adjustment {
        width: 50vw;
    }

    .parent-container {
        width: auto;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .tagline {
        margin-left: 10px;
    }
}

@media screen and (min-width: 1000px) {
    h6 {
        margin-top: 10px;
        font-weight: 200;
        font-size: 13px;
    }
    #landing_desktop-header {
        position: absolute;
        display: block;
        height: 100px;
        display: flex;
    }

    #landing_desktop-header button {
        font-weight: bold;
        width: 90px;
        margin: 15px;
        margin-top: 25px;
    }

    .landing_input {
        background-color: #999;
        margin-left: 10px;
        margin-right: 10px;
        padding: 5px;
        text-align: left;
        height: 85px;
    }

    .landing_input label {
        font-size: 15px;
    }

    .landing_input input {
        outline: none;
    }
}

@media screen and (max-width: 450px) {
    #landing_join h5 {
        font-size: 1.1rem;
    }

    #landing_prompt h3 {
        font-size: 1.55rem;
    }

    .tagline {
        margin-left: 3px;
    }

    .tagline h4 {
        font-size: 1.35rem;
    }

    .tagline img {
        width: 18px !important;
        height: 18px !important;
    }
}

@media screen and (max-width: 550px) {
    .parent-container {
        width: 70%;
    }
}

@media screen and (max-width: 400px) {
    .parent-container {
        width: 75%;
    }

    .tagline h4 {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 350px) {
    .parent-container {
        width: 78%;
    }

    .tagline {
        margin-left: 8px;
    }

    .tagline h4 {
        font-size: 1.15rem;
    }
}
