@import "../../styles/colors";

#landing {
    width: 100%;
    height: 100%;
}

#landing_desktop-copyright {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: end;
}

#landing_desktop-copyright p {
    margin: 25px;
    font-size: 14px;
    color: grey;
}

#landing_footer {
    height: 120px;
}

#landing_main-container {
    display: flex;
    height: 800px;
}

#landing_ui-man-left {
    display: flex;
    justify-content: center;
    // align-items: center;
    background-image: url("../../images/middleLayer-web.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 20% 0%;
    padding-top: 80px;
}

#landing_ui-man-left div {
    height: 600px;
    width: 600px;
    // padding-bottom: 50%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    // align-items: center;
}

#landing_ui-man-bg {
    height: 80%;
    width: 90%;
    border-radius: 0%;
}

#landing_main {
    height: 100% !important;
}

#main {
    // height: 100vh;
    height: auto;
}

.dark-bg {
    background-color: $uxui-dg;
}

.desktop-splitter {
    width: 50%;
}

.generic-flex {
    display: flex;
}

// ** debug tools

.r-debug {
    border: 3px solid red;
}

.b-debug {
    border: 3px solid cyan;
}

.g-debug {
    border: 3px solid green;
}

.w-debug {
    border: 4px dotted white;
}

.aa-debug {
    background-color: $uxui-dg;
}

.bb-debug {
    background-color: $uxui-lg;
}

// midway resizing of uiMan
@media screen and (max-width: 1000px) {
    #landing_ui-man-left {
        background-position: 0% 50%;
    }
    #landing_ui-man-left div {
        height: 400px;
        width: 400px;
        // padding-bottom: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    #landing_desktop-copyright {
        display: none;
    }

    #landing_display {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #landing_footer {
        // display: none;
    }

    #landing_ui-man-left {
        display: none;
    }

    #main {
        // height: 1400px;
        height: auto;
        // is like this so it is at least a minimum height for a mobile device
    }
}
