@import "../../styles/colors";

html,
body {
    min-height: 100% !important;
    // min-height: 2000px;
    margin: 0 !important;
    padding: 0 !important;
}

#landing {
    width: 100%;
    height: 100%;
}

#landing_desktop-copyright {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
}

#landing_desktop-copyright p {
    margin: 25px;
    font-size: 14px;
    color: grey;
}

#landing_display {
}

#landing_footer {
    height: 180px;
    padding-bottom: 20px;
}

#landing_main {
    background-image: url("../../images/landingBlobs/Ellipse 94-web.svg");
    background-repeat: repeat;
    background-size: 100% 100%;
    background-color: $uxui-dg;
}

#landing_main-container {
    display: flex;
    height: 1000px;
    // potential src of bug
}

#landing_mobile-ui-man {
    height: 300px;
    width: 300px;
    border-radius: 0%;
}

#landing_mobile-only-show {
    display: none;
}

#landing_ui-man-left {
    display: flex;
    justify-content: center;
    // align-items: center;
    background-image: url("../../images/landingBlobs/middleLayer-web.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 20% 0%;
    padding-top: 80px;
}

#landing_ui-man-left div {
    height: 600px;
    width: 600px;
    // padding-bottom: 50%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    // align-items: center;
}

#landing_ui-man-bg {
    height: 80%;
    width: 90%;
    border-radius: 0%;
}

#landing_main {
    height: 100% !important;
    background-image: url("../../images/landingBlobs/Ellipse94.svg");
    background-repeat: no-repeat;
    background-size: 40% 52%;
    background-position: 120% 100%;
    // border: 5px solid yellow;
}

#main {
    // height: 100vh;
    height: auto;
}

.dark-bg {
    background-color: $uxui-dg;
}

.desktop-splitter {
    width: 50%;
}

.generic-flex {
    display: flex;
}

// midway resizing of uiMan
@media screen and (max-width: 1000px) {
    #landing_ui-man-left {
        background-position: 0% 50%;
    }
    #landing_ui-man-left div {
        height: 400px;
        width: 400px;
        // padding-bottom: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #landing_display {
        // height: 900px;
        height: 100%;
    }
}

@media screen and (max-width: 700px) {
    #landing_desktop-copyright {
        display: none;
    }

    #landing_display {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("../../images/landingBlobs/middleLayerBlobMobile.svg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        // background-size: cover;
        background-position: 0% 20%;
    }

    #landing_footer {
        display: none;
    }

    #landing_main {
        background-image: none;
    }

    #landing_main-container {
        height: 1000px;
        // todo: test height 800px with landing_display height 700px; fixme: bring up that page overflow
        background-image: url("../../images/landingBlobs/BottomLeftMobile.svg");
        background-repeat: no-repeat;
        background-position: bottom left;
    }

    #landing_mobile-only-show {
        display: flex;
        flex-direction: column;
        align-items: center;
        // height: 440px;
        height: 100%;
        // border: 3px solid green;
    }

    #landing_mobile-ui-man-container {
        height: 60%;
        width: 100%;
        display: flex;
        justify-content: center;
        // align-items: center;
    }

    #landing_ui-man-left {
        display: none;
    }

    #main {
        // height: 1400px;
        height: auto;
        // is like this so it is at least a minimum height for a mobile device
    }
}
