@import "../../styles/colors";

#search_bar-container input {
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #bbb;
}

#search_explore-massives {
    // margin-top: 10px;
}

#search_main {
    background-color: $twtr-dark-grey;
    height: 100vh;
    /* width is auto for mobile, changes to 43% for desktop */
    // width: auto;
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    transition: margin-left 0.5s; /* If you want a transition effect */
    // overflow-y: auto;
}

#search_main-article-container {
    width: auto;
    height: 400px;
    background-image: url("../../images/Replace\ me-1.jpg");
    background-size: cover;
    position: relative;
}

#search_main-article-container div {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-weight: bold;
    color: $white;
    text-align: left;
}

#search_main-article-container h1 {
    font-size: 26px;
    font-weight: 600;
    margin-right: 6px;
}

#search_main-article-container span {
    font-weight: 14px;
}

#search_recommendations {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0 14px;
}

#search_recommendations div {
    height: 50px;
    width: fit-content;
    display: flex;
    align-items: center;
}

#search_recommendations div div {
    width: 20px;
}

#search_recommendations div:hover {
    background-color: lighten($twtr-dark-grey, 12%);
    // background-color: red;
}

#search_recommendations div a {
    width: fit-content;
    text-decoration: none;
    color: $light-grey;
}

#search_recommendations div a:hover {
    text-decoration: underline;
}

.search_width-fix {
    min-width: fit-content;
}

.search_popular-massive {
    padding: 10px 10px 0 10px;
    border: 1px solid #ddd;
}

.search_popular-massive h3 {
    font-size: 16px;
    color: $light-grey;
}

.search_popular-massive p {
    font-size: 13px;
    color: white;
}
