.choice_compactor {
    width: fit-content;
    height: 20px;
    border: 2px solid royalblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
