.choice_compactor {
    width: fit-content;
    height: 24px;
    border: 2px solid royalblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2px;
    padding: 6px;
    border-radius: 5px;
}
